html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
/* Cabeçalho */
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #cd853f;
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

/* Conteúdo da Pag */
.conteudo{
    flex: 0 1 auto;
}
#body{
    color: #fff;
    display: inline;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#body h1{
    color: #fff;
    display: inline;
    font-size: 35px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#body h1 span{
    background: #252525;
    display: inline-block;
    padding: 15px 28px 12px;
}
#body > div{
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
#body > div img{
    border: 2px solid #292929;
    margin: 24px 0 0;
    padding: 0;
}

#body #featured{
    margin: 0 0 13px;
    padding: 0;
    position: relative;
    width: 100%;
    flex: 1;
}
#body #featured img{
    border: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
#body #featured div{
    left: 50%;
    margin-left: -480px;
    margin-top: -171px;
    padding: 0 0 0 470px;
    position: absolute;
    top: 50%;
    text-align: left;
    width: 490px;
}
#body #featured div h1{
    background: #aa6a2c;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 18px;
    padding: 23px 27px 20px;
    border-radius: 15px;
}
#body #featured div span{
    background: #aa6a2c;
    display: inline-block;
    font-size: 20px;
    margin: 7px 0;
    padding: 12px 27px;
    border-radius: 15px;
}
#body #featured div a{
    background: #aa6a2c;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 26px 27px 22px;
    text-align: center;
    border-radius: 15px;
}
#body > ul{
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 0;
    width: 960px;
}
#body > ul li{
    display: block;
    float: left;
    margin: 0 10px 20px;
    padding: 0;
    width: 300px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    border-radius: 15px;
}
#body > ul li a{
    background: #aa6a2c;
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}
#body > ul li a img{
    border: 2px solid #1a1a1a;
    display: block;
    margin: 0;
    padding: 0;
    opacity: .8;
    transition: 0.5s ease-in-out;
}


/* Rodapé */
.rodape{
    flex-shrink: 0;
}
.footer{
    font-size: 12px;
    width: 100%;
    background: #cd853f;
    padding: 10px;
    overflow: hidden;
    margin: auto;
    color: white;
}
.div-footer{
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


